pkgbase = plasma-theme-caledonia
	pkgdesc = Elegant and minimalistic dark theme for plasma
	pkgver = 1.5
	pkgrel = 2
	url = http://sourceforge.net/projects/caledonia/
	arch = any
	license = CCPL
	depends = kdebase-workspace
	source = plasma-theme-caledonia-1.5.tar.gz::http://downloads.sourceforge.net/project/caledonia/Caledonia%20(Plasma-KDE%20Theme)/Caledonia.tar.gz
	sha256sums = 00a27c381d7f59625dc59112e4f76edac0dc53d44c2da9ee861743e4e8b63ab2

pkgname = plasma-theme-caledonia

